*{
  box-sizing: border-box;
}

body{
  background: #555;
}
canvas{
  background: #777;
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width:512px;
}
#main{
  width:512px;
  margin:0 auto;
}
#state{
  background: #777;
  width: 510px;
  margin: 20px auto 0 auto;
  border: 2px solid #999;
  padding: 10px 20px;
}
#state > div{
  width: 50%;
  float: left;
  padding: 3px;
  font-family: Helvetica;
  font-variant: small-caps;
  color: #ddd;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
